<mat-card>
  <mat-card-header>
    <mat-card-title>CPR Generator</mat-card-title>
    <mat-card-subtitle>Enter a valid birthday</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [formGroup]="cprForm">
    <div class="row gap">
      <mat-form-field appearance="fill">
        <mat-label>Day</mat-label>
        <input matInput formControlName="day" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Month</mat-label>
        <input matInput formControlName="month" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" />
      </mat-form-field>
    </div>
    <div class="column">
      <span *ngIf="cprForm.controls.day.errors?.['pattern']"
        >Day must be input as a number between 1 and 31</span
      >
      <span *ngIf="cprForm.controls.month.errors?.['pattern']"
        >Month must be input as a number between 1 and 12</span
      >
      <span *ngIf="cprForm.controls.year.errors?.['pattern']"
        >Year must be input as a 4 digit number</span
      >
    </div>
  </mat-card-content>
  <mat-card-actions class="gap">
    <button
      mat-flat-button
      color="primary"
      [disabled]="cprForm.invalid"
      (click)="generateCPRNumbers()"
    >
      Generate
    </button>
    <button mat-flat-button color="primary" (click)="randomize()">
      Randomize date
    </button>
    <button mat-flat-button color="accent" (click)="reset()">Reset</button>
  </mat-card-actions>
</mat-card>

<div
  class="row"
  style="justify-content: space-evenly"
  *ngIf="maleCprs().length > 0 && femaleCprs().length > 0"
>
  <div class="column">
    <mat-list>
      <div mat-subheader><h2>Males ({{maleCprs().length}})</h2></div>
      <mat-list-item *ngFor="let cpr of maleCprs()">{{ cpr }}</mat-list-item>
    </mat-list>
  </div>
  <div class="column">
    <mat-list>
      <div mat-subheader><h2>Female ({{femaleCprs().length}})</h2></div>
      <mat-list-item *ngFor="let cpr of femaleCprs()">{{ cpr }}</mat-list-item>
    </mat-list>
  </div>
</div>
